In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
cd /content/drive/MyDrive/CSE_464

/content/drive/MyDrive/CSE_464

In [3]:
import re
from pathlib import Path

In [48]:
sqlCom="SELECT * FROM Persons WHERE Name = 13"
print(sqlCom)

SELECT * FROM Persons WHERE Name = 13

In [49]:
sqlCom = re.sub("\n", "", sqlCom)
token = sqlCom.split()
for i in range(len(token)):
    print(token[i])

SELECT
*
FROM
Persons
WHERE
Name
=
13

In [44]:
"""def executionCommand(token):
    if token[0] == 'SELECT':
        table_name = token[3]
        table_filename = table_name + ".txt"  # Persons.txt
        output_filename = 'SELECT_WHERE.txt'
        find_val = token[7]

        try:
            with open(table_filename, "r") as input_file:
                with open(output_filename, "w") as output_file:
                    for line in input_file:
                        flag = False
                        words = line.split()
                        for i in range(len(words)):
                            #if '#' in words[i]:
                                #words[i] = words[i].replace('#', ' ')
                                if words[i] == find_val:
                                  flag = True
                        joined_data = ' '.join(words)
                        if flag:
                          output_file.write(joined_data + "\n")
                          print(f" '{find_val}' found")

            print(f"Content has been written to '{output_filename}'")
        except FileNotFoundError:
            print(f"File '{table_filename}' does not exist")

In [50]:
def executionCommand(token):
    if token[0] == 'SELECT':
        #table_name = token[3]
        table_filename = 'select.txt'
        output_filename = 'SELECT_WHERE.txt'
        find_val = token[7]

        try:
            with open(table_filename, "r") as input_file:
                with open(output_filename, "a") as output_file:
                    for line in input_file:
                        flag = False
                        words = line.split()
                        for i in range(len(words)):
                            if words[i] == find_val:
                              flag = True
                        joined_data = ' '.join(words)
                        if flag:
                          output_file.write(joined_data + "\n")
                          print(f"'{find_val}' found")

            print(f"Content has been written to '{output_filename}'")
        except FileNotFoundError:
            print(f"File '{table_filename}' does not exist")

In [51]:
executionCommand(token)

'13' found
Content has been written to 'SELECT_WHERE.txt'