In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
cd /content/drive/MyDrive/CSE_464

/content/drive/MyDrive/CSE_464

In [ ]:
import re
from pathlib import Path

In [ ]:
sqlCom="INSERT INTO Persons VALUES (11 Asfar Farhan khilgaon Dhaka)"
print(sqlCom)

INSERT INTO Persons VALUES (11 Asfar Farhan khilgaon Dhaka)

In [ ]:
sqlCom = re.sub("\n", "", sqlCom)
token = sqlCom.split()
for i in range(len(token)):
    print(token[i])

INSERT
INTO
Persons
VALUES
(11
Asfar
Farhan
khilgaon
Dhaka)

In [ ]:
def executionCommand(token):
    if token[0] == 'INSERT':
        token = [re.sub('[()]',"", word) for word in token]
        temp = token[3]
        token = [word for word in token if word != temp]
        for i in range(len(token)):
            if token[i] != " ":
                print(token[i])

        table_name = token[2]
        filename = table_name
        path = filename + ".txt"
        #path2 = filename + "Info.txt"
        address = Path(path)

        f2 = open(path, "a")
        """for i in range(3, len(token), 1):
            temp = token[i]+" "+token[i+1]+" "+token[i+2]+" "+token[i+3]+" "+token[i+4]+ "\n"
            f2.write(temp)
        f2.close()
        """
        temp = token[3]+" #"+token[4]+" #"+token[5]+" #"+token[6]+" #"+token[7]+ "\n"
        f2.write(temp)

        f2.close()
        print("Values inserted")

In [ ]:
executionCommand(token)

INSERT
INTO
Persons
11
Asfar
Farhan
khilgaon
Dhaka
Values inserted