In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
cd /content/drive/MyDrive/CSE_464

/content/drive/MyDrive/CSE_464

In [ ]:
import re
from pathlib import Path

In [ ]:
sqlCom="SELECT * FROM Persons"
print(sqlCom)

SELECT * FROM Persons

In [ ]:
sqlCom = re.sub("\n", "", sqlCom)
token = sqlCom.split()
for i in range(len(token)):
    print(token[i])

SELECT
*
FROM
Persons

In [ ]:
def executionCommand(token):
    if token[0] == 'SELECT':
        table_name = token[3]
        table_filename = table_name + ".txt" #Persons.txt
        output_filename = 'select.txt'

        try:
            with open(table_filename, "r") as input_file:
                data = input_file.read()
                words = data.split()
                #print(words)
                for i in range(len(words)):
                    if '#' in words[i]:
                      words[i] = words[i].replace('#', ' ')
                      print(words)

                joined_data = ' '.join(words)
                print(joined_data)

                with open(output_filename, "w") as output_file:
                    output_file.write(joined_data)
                print(f"Content of '{table_filename}' has been written to '{output_filename}'")
        except FileNotFoundError:
            print(f"File '{table_filename}' does not exist")

In [ ]:
executionCommand(token)

['11', ' Asfar', '#Farhan', '#khilgaon', '#Dhaka']
['11', ' Asfar', ' Farhan', '#khilgaon', '#Dhaka']
['11', ' Asfar', ' Farhan', ' khilgaon', '#Dhaka']
['11', ' Asfar', ' Farhan', ' khilgaon', ' Dhaka']
11  Asfar  Farhan  khilgaon  Dhaka
Content of 'Persons.txt' has been written to 'select.txt'